.breadcrumb_link {
  display: flex;
  align-items: center;
}

.breadcrumb_link_btn {
  display: flex;
  align-items: center;
}

.breadcrumb_link_icon {
  font-size: var(--size-4) !important;
  display: flex;
  align-items: center;
  margin-right: 1px;
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumb_link .icon_note {
  transform: rotate(90deg);
}

.breadcrumb_link .icon_notebook {
  transform: rotate(180deg);
  transform: scaleY(-1);
}

.breadcrumb_link_btn:hover {
  text-decoration: underline;
  cursor: pointer;
}

.breadcrumb_container {
  position: relative;
  width: 100%;
  height: calc(var(--breadcrumb-height) * 1px);
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  box-shadow:
    0px 6px 6px -3px rgb(0 0 0 / 20%),
    0px 10px 14px 1px rgb(0 0 0 / 14%),
    0px 4px 18px 3px rgb(0 0 0 / 12%);
  justify-content: flex-start;
  z-index: 6;
}

.breadcrumbs_inner {
  width: 100%;
  display: flex;
  color: rgba(0, 0, 0, 0.6);
  align-items: center;
}

.breadcrumb_edit_btn {
  position: absolute;
  right: 15px;
}

.breadcrumb_seperator {
  margin-left: 2px !important;
  margin-right: 2px !important;
}

.breadcrumb_icon {
  margin-right: 4px;
  text-decoration: none;
}

.breadcrumb_group {
  display: flex;
  align-items: center;
  margin: 0px;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  color: rgba(0, 0, 0, 0.6);
}

.edit_icon {
  font-size: 20px;
}

.breadcrumb_edit_fab {
  width: 30px;
  height: 30px;
  background-color: rgb(224, 224, 224);
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 3px 5px -1px,
    rgba(0, 0, 0, 0.14) 0px 6px 10px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 18px 0px !important;
}

.breadcrumb_edit_fab:hover,
.breadcrumb_edit_fab:focus {
  background-color: rgb(245, 245, 245, 0);
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
